<%-include('foxy/header.ejs')%>

<%-include('foxy/nav.ejs')%>
<link rel="stylesheet" href="stylesheets/profile.css">

<div class="im" >

    <img src="uploads/<%=admin.avatar%>" alt="">
</div>

<h1><strong>Hello</strong> <%=admin.name%></h1>

<%-include('foxy/footer.ejs')%>